@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

$bg-color: #161122;
$btn-color: lighten($bg-color, 8%);
$top-btn-color: lighten($bg-color, 20%);
$operation-btn-color: lighten($bg-color, 40%);

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: $bg-color;
  font-family: 'Inter', sans-serif;
}

.calculator-app {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  &__output {
    color: white;
    text-align: right;
    font-size: 60px;
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: end;
    font-weight: 200;
  }
  &__buttons {
    height: 100%;
    display: grid;
    gap: 1.25rem;
    align-content: start;
    justify-content: center;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(4rem, auto) repeat(5, 4rem);
    button {
      border: none;
      background-color: $btn-color;
      color: white;
      font-size: 25px;
      border-radius: 25px;
      &:hover {
        opacity: .8;
        cursor: pointer;
      }
      &.top {
        background-color: $top-btn-color;
      }
    
      &.operation {
        background-color: $operation-btn-color;
      }
    }
  }
  @media (width > 500px) {
    padding: 1.5rem;
    width: 450px;
    &__output {
      font-size: 70px;
      padding-inline: initial;
    }
    &__buttons {
      gap: 1.5rem;
      margin: auto;
      align-content: start;
      justify-content: center;
      grid-template-columns: repeat(4, 5.5rem);
      grid-template-rows: minmax(5.5rem, auto) repeat(5, 5.5rem);
      button {
        font-size: 40px;
        border-radius: 37px;
      }
    }
  }
}
